<!DOCTYPE html>
<html>

<head> </head>

<body>
    

    <form action="result">
        Age:<input type="number" name="age"><br>
        T Stage:<input type="number" name="sex"><br>
        N StageN Stage:<input type="" name="chest_pain"><br>
        differentiate:<input type="number" name="bp"><br>
        Grade :<input type="number" name="choresterol"><br>
        A Stage:<input type="number" name="fbp"><br>
        Tumor Size:<input type="number" name="electrograph"><br>
        Estrogen Status :<input type="number" name="max"><br>
        Progesterone Status  :<input type="number" name="angina"><br>
        Regional Node Examined:<input type="number" name="oldpeak"><br>
        Reginol Node Positive:<input type="number" name="slope"><br>
        Survival Month <input type="number" name="vessels"><br>
        status:<input type="number" name="thal"><br>
        
        

        <input type="submit">
</body>

</html>